<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

<section class="firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<h3 class="text-big" id="web"></h3>
				<p class="text-small">
                <h4> 
                This website is created for to know about the Parkinson's disease and if a person is affected by Parkinson's disease or not. 
                <br>In this website ,there is option to detect your health comparitively with Parkinson's disease. 
                If you have any queries about the Parkinson's disease and related about this website you can ask your queries via the following emails:</h4> 
            
                1. <a href="mailto:aparul005@gmail.com">aparul005@gmail.com</a>
                
                <br>
                2. <a href="mailto:ashjo0101@gmail.com">ashjo0101@gmail.com</a>

                <br>
                3. <a href="mailto:vegetasankar5610@gmail.com">vegetasankar5610@gmail.com</a>

                <br>
                4. <a href="mailto:mrajaguru01@gmail.com">mrajaguru01@gmail.com</a>
                
                </p>
</div>
</div>
</section>
    
</body>
</html>
