<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Use</title>

    <style>
        #yt
        {
            height: 800px;
  width: -50%;
        }
    </style>
</head>
<body>

<h2 class="text-big" id="web"> STEP 1. Open The HomePage</h2>
<center>
<div id="yt">
<img src="static/img/i1.png" alt="">
</div>
</center>

<h2 class="text-big" id="web"> STEP 2. Click The DetecT Option </h2>
<center>
<div id="yt">
<img src="static/img/i2.png" alt="">
</div>
</center>

<br>
<h2 class="text-big" id="web"> STEP 3. Fill The Form </h2>
<center>
<div id="yt">
<img src="static/img/i3.png" alt="">
</div>
</center>

<br>
<h2 class="text-big" id="web"> STEP 4. Draw The Spril And Drap Here</h2>
<center>
<div id="yt">
<img src="static/img/i4.png" alt="">
</div>
</center>

<br>
<h2 class="text-big" id="web"> STEP 5. Draw The Wave And Drap Here</h2>
<center>
<div id="yt">
<img src="static/img/i5.png" alt="">
</div>
</center>

<br>
<h2 class="text-big" id="web"> STEP 6. Click The Submit and Get Your Results </h2>
<center>
<div id="yt">
<img src="static/img/i6.png" alt="">
</div>
</center>
</body>
</html>